
/* This was to make my whole background 1 color */
*{
  background-color: #fff4f1;
}
/*This code is to make my picture centered and adjusted */
.center{
   display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
/* this is to make header h1,h2,h3 centered curesive and black */
header h1,h2,h3 { 
  text-align: center;
  font-family: cursive, Times New Roman;
  color: black;
  }
/* I wanted my title to be bigger so this is to make it bigger */
h1{
  font-size: 50px;
}

/* this was to make my paragraph and my list all one style */
p,ol {
  font-size: 18px;
  font-family: cursive, Times New Roman;
  text-align: center;
}
/* i seperated this so that I can have it not centered */
ul{
  font-size: 18px;
  font-family: cursive, Times New Roman;
}
/* This is my footer*/
footer p{
  background-color: grey;
  color: black;
}
<hr>